---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About" description="">
  <section class="space-y-6">
    <h1 class="text-3xl font-bold tracking-tight text-zinc-900">About</h1>
    <p class="leading-relaxed">
    
      
    </p>
  </section>
</Layout>
