---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About" description="">
  <section class="space-y-6">
    <h1 class="text-3xl font-bold tracking-tight text-zinc-900">About</h1>
    <p class="leading-relaxed">
    I am a Msc student at IT-University of Copenhagen currently writing my master's thesis on benchmarking of vector database systems under complex metadata filtering conditions.
    Currently also working as a part-time as a software developer at BiQ
    </p>
  </section>
</Layout>
