---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About" description="">
  <section class="space-y-6">
    <h1 class="text-3xl font-bold tracking-tight text-zinc-900">About</h1>
    <p class="leading-relaxed">
    I am a Msc student at IT-University of Copenhagen currently writing my master's thesis on benchmarking of vector database systems under complex metadata filtering conditions.
    Currently also working part-time as a software developer at <a href="https://biq.dk/" class="text-zinc-900 underline underline-offset-4 hover:no-underline">BiQ</a>.
    </p>
  </section>
</Layout>
