---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="space-y-6">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-900">
      Jakob Splidsboel Eg
    </h1>
    <p class="text-lg leading-relaxed">
    </p>
  </section>
</Layout>
